
.img {
    display: block;
    margin-left: auto;
    margin: auto;
    filter: saturate(100%);
    width: 50%;
    border-radius: 10px 40px 30px 5px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centeredText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Foot {
    text-align: center;
    font-weight: bold;
}

.Tab {
    border: 2px dashed blue;
    padding: 4px;
}

.TR {
    background-color: cornflowerblue;
}